* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    width: 300px;
}

img {
    width: 300px;
}

#countdown-container {
    background-color: rgb(211, 211, 211);
    padding: 7px 0;
}

#countdown {
    text-align: center;
    color: rgb(68, 68, 68);
    font-size: large;
    font-weight: 500;
    user-select: none;
}
