* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#countdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: rgb(236, 236, 236);
}

#countdown {
    font-family: 'Roboto';
    color: rgb(34, 34, 34);
    font-size: 18px;
    font-weight: 500;
    user-select: none;
}

#exit {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: large;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(68, 68, 68);
    background-color: rgb(236, 236, 236);
}

#exit:hover {
    background-color: rgb(185, 185, 185);
}

#exit:active {
    background-color: rgb(233, 233, 233);
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/Fonts/Roboto/static/Roboto-Medium.ttf');
}
